li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.available {
  color: greenyellow;
}

.not_available {
  color: red;
}
